@using ShoppingApp.Entity.Web.Models.Dtos
@model List<ProductDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 <div>
        <table>
            <div class="card">
                <div class="row">
                    <div class="col-4">
                        <th>Id</th>
                <th>Ürün</th>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                   <th>Ürün Fiyatı</th>
                    </div>
                </div>
                <div class="card">
                 <th>Eklenme Tarihi</th>
                </div>


            </div>
            <thead>
                <tr>
                
                
               
                
                </tr>
            </thead>
            <tbody>
                @foreach (var productDto in Model)
            {
                <tr>
                    <td>@productDto.Id</td>
                    <td>@productDto.Name</td>
                    <td>@productDto.Price</td>
                    <td>@productDto.DateAdded</td>
                </tr>
            }
            </tbody>
        </table>
        @foreach (var product in Model)
        {
            <li>@product.Name</li> //her sıradaki product ın ismi li içine yazmasını bekliyoruz . Bütün ürünlerimin ismi listelenmiş oldu.

        }
     
    
 </div>
